@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using StreamBoss.Web.ViewModels
@inject HomeViewModel ViewModel

<PageTitle>Home</PageTitle>

@if(ViewModel.IsAuthenticated){
    <h1>Hello, @ViewModel.User.Identity.Name</h1>

}
else
{
    <h1>Not authenticated</h1>
}

Welcome to your new app.

@code {
    // [CascadingParameter]
    // private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.SetAuthenticationState();
    }
}
