@page "/searchshows"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@using StreamBoss.Shared.Models
@using StreamBoss.Web.Services
@using StreamBoss.Web.ViewModels

@inject ShowSearchViewModel ViewModel

<h3>SearchShows</h3>

<div>
    <input type="text" @bind-value="ViewModel.SearchText" />
    <button class="btn btn-primary"  @onclick="(() => ViewModel.Search())">Search</button>
</div>

<div>
    @if (ViewModel.Shows != null)
    {
        @foreach(var show in ViewModel.Shows)
        {
            <div>
                <h4>@show.Title</h4>
                <div class="container">
                    <div class="div-search-row">
                        <img src="@show.ImageUrl" />
                        @((MarkupString)show.Summary)
                    </div>
                </div>
            </div>

            @if(Array.FindIndex(ViewModel.Shows, x => x == show) < ViewModel.Shows.Length - 1)
            {
                <hr />
            }
        }
    }
</div>

@code {
    
}
